
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable

POSTGRES_DB=nome
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres


DB_MAX_OPEN_CONNS=100
DB_MAX_IDLE_CONNS=500
DB_CONN_MAX_LIFETIME=50m
DB_CONN_MAX_IDLE_TIME=50m